docs/Reha301/schema/EREH0-BTY-4.1.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="http://www.vdek.com/xml-schema/BTY/4.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.vdek.com/xml-schema/BTY/4.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--  	
            :notation  SIMPLE TYPE  ___ ALLGEMEIN
  _________________________________________________________________________________________________________________ -->
	<xs:simpleType name="Anzahl_Leist_Stp">
		<xs:annotation>
			<xs:documentation>Anzahl ein- oder zweistellig mit oder ohne führender Null: 1 - 2 Ziffern außer "0" und "00"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="([0-9]*)([1-9])([0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Anzahl_Tage_Stp">
		<xs:annotation>
			<xs:documentation>Zahl der Tage -  nummerisches Feld 1 bis 999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="([1-9])([0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Anzahl_Tage_mit_0_Stp">
		<xs:annotation>
			<xs:documentation>Zahl der Tage -  nummerisches Feld 0 bis 999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]|([1-9][0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Arbeitsfaehig_KV_Stp">
		<xs:annotation>
			<xs:documentation>Aussage der Reha-Einrichtung zur Arbeitsfähigkeit des Rehabilitanden bei Entlassung; 1 = Arbeitsfähig, 3 = Arbeitsunfähig, 9 = Beurteilung nicht erforderlich  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Arbeitsfaehig_RV_Stp">
		<xs:annotation>
			<xs:documentation>Aussage der Reha-Einrichtung zur Arbeitsfähigkeit des Rehabilitanden bei Entlassung; 1 = Arbeitsfähig, 3 = Arbeitsunfähig,  9 = Beurteilung nicht erforderlich </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Art_der_Behandlung_Stp">
		<xs:annotation>
			<xs:documentation>1 = stationär, 2 = ganztätig ambulant, 3 = ambulant, 4 = mobil</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Art_der_Behandlung_KV_Stp">
		<xs:annotation>
			<xs:documentation>1 = stationär, 2 = ganztätig ambulant, 4 = mobil, 5 = Kombinationsbehandlung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Art_der_Behandlung_RV_Stp">
		<xs:annotation>
			<xs:documentation>1 = stationär, 2 = ganztätig ambulant, 3 = ambulant (Sucht)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Besondere_Behandlungsformen_RV_Stp">
		<xs:annotation>
			<xs:documentation>0 = keine, 1 = MBOR, 2 = VMO (vor 2021), 3 = VOR, 4 = MBOR/VOR (ab 2021), 9 = sonstige</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Behandlungsergebnis_Stp">
		<xs:annotation>
			<xs:documentation>Diagnosenbezogene Bewertung des Behandlungsergebnisses bei einer Rehabilitationsmaßnahme; 0 = Ziff. 1-3 trifft nicht zu, 1 = gebessert, 2 = unverändert, 3 = verschlechtert </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Betrag_3_2_Stp">
		<xs:annotation>
			<xs:documentation>3 Stellen vor dem Komma, 2 Stellen Nach</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Eurocent_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dateiart_Stp">
		<xs:annotation>
			<xs:documentation>Dateiart (z.B. pdf)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dateigroesse_Stp">
		<xs:annotation>
			<xs:documentation>Dateigroesse in Bytes vor Konvertierung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="([0-9]*)([1-9])([0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dateikategorie_Stp">
		<xs:annotation>
			<xs:documentation>Dateikategori (z.b. MEDI, VERW)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dateinummer_Stp">
		<xs:annotation>
			<xs:documentation>6 Ziffern</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Dauer_Leist_Stp">
		<xs:annotation>
			<xs:documentation>Zahl der für einen Rehabilitanden während einer Reha-Maßnahme durchgeführten therapeutischen Maßnahmen / Leistungen für eine bestimmte therapeutische Leistung gemäß KTL: A = 5 min, B = 10 min, C = 15 min, D = 20 min, E = 25 min, F = 30 min, G = 35 min, H = 40 min, I = 45 min, K = 50 min, L = 60 min, M = 75 min, N = 90 min, P = 100 min, Q = 120 min, R = 150 min, S = 180 min, T = 240 min, U = 300 min, W = größer/gleich 360 min, Z = individuell </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-I]"/>
			<xs:pattern value="[K-N]"/>
			<xs:pattern value="[P-U]"/>
			<xs:pattern value="[W]"/>
			<xs:pattern value="[Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Empfehlung_Stp">
		<xs:annotation>
			<xs:documentation>Eine von mehreren möglichen Empfehlungen der Reha-Einrichtung bei Abschluss einer Reha-Leistung an Rehabilitanden und weitere Stellen, bestimmte (Nachsorge-)Maßnahmen durchzuführen, und zwar an Ärzte / Psychologen, an Rehabilitanden/Patienten und an Rentenversicherung/Krankenversicherung </xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Entlassungsform_KV_Stp">
		<xs:annotation>
			<xs:documentation>Das Datenfeld beschreibt Form und ggf. Weiterbehandlung der Entlassung eines Rehabilitanden aus verwaltungs- und medizinischer Sicht. Siehe SV</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Entlassungsform_RV_Stp">
		<xs:annotation>
			<xs:documentation>Das Datenfeld beschreibt Form und ggf. Weiterbehandlung der Entlassung eines Rehabilitanden aus verwaltungs- und medizinischer Sicht. Siehe SV</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="09"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Eurocent_Stp">
		<xs:annotation>
			<xs:documentation>Betrag in Eurocent</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Fachabteilung_Stp">
		<xs:annotation>
			<xs:documentation>Fachabteilungsschlüssel, 4 Ziffern (0000-9999)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Fall_ID_Rehaeinrichtung_Stp">
		<xs:annotation>
			<xs:documentation>Die Fall-ID bzw. das klinikinterne Kennzeichen identifiziert  bei der Reha-Einrichtung  Rehabilitand und Reha-Leistung. max.  23 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Freier_Text_Stp">
		<xs:annotation>
			<xs:documentation>freier Text bis zu 1000 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Zusatzinformation_Stp">
		<xs:annotation>
			<xs:documentation>freier Text bis zu 4000 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indikationsgruppenzuordnung_Stp">
		<xs:annotation>
			<xs:documentation>Dokumentation von Krankheiten des Rehabilitanden, zugeordnet gemäß Schlüssel Indikationsgruppenzuordnung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="AA"/>
			<xs:enumeration value="AB"/>
			<xs:enumeration value="AC"/>
			<xs:enumeration value="AD"/>
			<xs:enumeration value="AE"/>
			<xs:enumeration value="BA"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CB"/>
			<xs:enumeration value="DA"/>
			<xs:enumeration value="DB"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="EA"/>
			<xs:enumeration value="EB"/>
			<xs:enumeration value="FA"/>
			<xs:enumeration value="FB"/>
			<xs:enumeration value="FC"/>
			<xs:enumeration value="FD"/>
			<xs:enumeration value="FE"/>
			<xs:enumeration value="FF"/>
			<xs:enumeration value="FG"/>
			<xs:enumeration value="FH"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="GC"/>
			<xs:enumeration value="HA"/>
			<xs:enumeration value="HB"/>
			<xs:enumeration value="IA"/>
			<xs:enumeration value="IB"/>
			<xs:enumeration value="IC"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IF"/>
			<xs:enumeration value="IG"/>
			<xs:enumeration value="IH"/>
			<xs:enumeration value="II"/>
			<xs:enumeration value="IJ"/>
			<xs:enumeration value="IK"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IM"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="IO"/>
			<xs:enumeration value="IP"/>
			<xs:enumeration value="JA"/>
			<xs:enumeration value="JB"/>
			<xs:enumeration value="JC"/>
			<xs:enumeration value="JD"/>
			<xs:enumeration value="JE"/>
			<xs:enumeration value="JF"/>
			<xs:enumeration value="JG"/>
			<xs:enumeration value="JH"/>
			<xs:enumeration value="JI"/>
			<xs:enumeration value="JJ"/>
			<xs:enumeration value="JK"/>
			<xs:enumeration value="JL"/>
			<xs:enumeration value="JM"/>
			<xs:enumeration value="KA"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NB"/>
			<xs:enumeration value="OA"/>
			<xs:enumeration value="OB"/>
			<xs:enumeration value="OC"/>
			<xs:enumeration value="OD"/>
			<xs:enumeration value="OE"/>
			<xs:enumeration value="OF"/>
			<xs:enumeration value="OG"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="QA"/>
			<xs:enumeration value="RA"/>
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SB"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SF"/>
			<xs:enumeration value="SG"/>
			<xs:enumeration value="SH"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="TA"/>
			<xs:enumeration value="TB"/>
			<xs:enumeration value="TC"/>
			<xs:enumeration value="UA"/>
			<xs:enumeration value="UB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="J_oder_N_Stp">
		<xs:annotation>
			<xs:documentation>Ja - Nein Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="J_Stp">
		<xs:annotation>
			<xs:documentation>Ja Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="J"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Eins_Stp">
		<xs:annotation>
			<xs:documentation>Ja Feld, als "1" dargestellt </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KTL_Code_Stp">
		<xs:annotation>
			<xs:documentation>1. Stelle Großbuchstabe, 2. - 4. Stelle Ziffern.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{1}[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="laufende_Nummer_GVF_Stp">
		<xs:annotation>
			<xs:documentation>Laufende Nummer des Geschäftsvorfalls</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][1-9]|[1-9]0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="laufenden_Nummer_01_Stp">
		<xs:annotation>
			<xs:documentation>laufende Nummer für die Geschäftsvorfälle, die nur einmal versendet werden</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Nachrichtentyp_Stp">
		<xs:annotation>
			<xs:documentation>Information über den enthaltenen Geschäftsvorfall
01 Aufnahme
03 Antrag auf Verlängerung des Aufenthaltes
04 Entlassungsmeldung
06 Unterbrechung
07 Absage durch die Einrichtung
08 Neurologisches Reha-Assessment
10 Anzeige einer Verlängerung
11 Bewilligung
12 Absage durch den Kostenträger
13 Ergänzung vor Reha-Beginn
15 Antwort zum Antrag auf Verlängerung des Aufenthaltes
16 Antrag auf Verlängerung der Kostenzusage
17 Antwort zum Antrag auf Verlängerung der Kostenzusage
18 Antrag auf Phasenwechsel
19 Antwort zum Antrag auf Phasenwechsel
21 Entlassungsbericht
30 Rechnung
31 Zahlsatz
32 Zuzahlungsgutschrift/-rückforderung
80 Fehlermeldung			
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
			<xs:enumeration value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Leist_Stp">
		<xs:annotation>
			<xs:documentation>Originäre Bezeichnung der im Einzelfall für einen Rehabilitanden durch die Reha-Einrichtung erbrachten therapeutischen Leistung, der Basis für die Verschlüsselung ist. max. 108 Zeichen erlaubt  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="0"/>
			<xs:maxLength value="108"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Therapieart_Stp">
		<xs:annotation>
			<xs:documentation>00 = Keine Bewilligung einer Therapie gem. Ziff. 1-2;01 = Therapeutische Einzel/ Gruppengespräche;02 = Therapeutische Einzel/ Gruppengespräche für Bezugspersonen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Therapieeinheiten_99_Stp">
		<xs:annotation>
			<xs:documentation>1-99 Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="([0-9]*)([1-9])([0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Therapieeinheiten_999_Stp">
		<xs:annotation>
			<xs:documentation>1-999 Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="([0-9]*)([1-9])([0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Token_intern_Stp">
		<xs:annotation>
			<xs:documentation>entspricht dem xs:token aber ohne "Datenmanipulation". kein Tabs, keine führenden/angehängte Leerzeichen, keine mehrfachen Leerzeichen, keine Zeilenumbrüche; Ausdruck beginnt mit einem nicht-whitespace, dann folgen 0-1 Whitespaces; dies wird beliebig oft wiederholt und endet mit einem Nicht-whitespace</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\S ?)*\S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_Stp">
		<xs:annotation>
			<xs:documentation>Version im Format 1.0.0 bis 9.999.999 </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]{1}[0-9]{0,2}\.[0-9]{1,3}\.[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_ICD10_Stp">
		<xs:annotation>
			<xs:documentation>Version ICD10</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_KTL_Stp">
		<xs:annotation>
			<xs:documentation>2007 sowie ab 2010 alle weiteren Jahreszahlen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="2007"/>
			<xs:pattern value="[2-9][0-9][1-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Verarbeitungskennzeichen_Stp">
		<xs:annotation>
			<xs:documentation>10 = Normalfall, 20 = Änderung, 30 = Fallstorno / Löschung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="10"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Zuzahlungseinzug_Stp">
		<xs:annotation>
			<xs:documentation>Hinweis bei Bewilligung an Reha-Einrichtung, ob bei Zuzahlungspflicht der Zuzahlungsbetrag von der Klinik eingezogen werden soll. 1 = keine Zuzahlungspflicht, 2 = Zuzahlungsbetrag soll von der Klinik eingezogen werden, 3 = Zuzahlungsbetrag soll von der Klinik nicht eingezogen werden</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hinweis_Kostenuebernahme_RV_Stp">
		<xs:annotation>
			<xs:documentation>0 = Keine Begleitperson, 1 = ... auf Hinreise, 2 = ... auf Rückreise, 3 = ... auf Hin- und Rückreise, 4 = ... bei Aufenthalt (einschließlich Hin- und Rückreise)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hinweis_Kostenuebernahme_Stp">
		<xs:annotation>
			<xs:documentation>0 = Keine Kostenübernahme, 4 = ... bei Aufenthalt (einschließlich Hin- und Rückreise)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Zustimmungskennzeichen_Stp">
		<xs:annotation>
			<xs:documentation>0 = Nicht zugestimmt, 1 = Zugestimmt wie beantragt, 2 = Teilweise zugestimmt</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  
 :notation name="Zeitangabe"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Datum_Uhrzeit_Stp">
		<xs:annotation>
			<xs:documentation>Datum mit Uhrzeit JJJJ-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1901-01-01T00:00:00"/>
			<xs:maxInclusive value="2099-12-31T23:59:59"/>
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Datum_Stp">
		<xs:annotation>
			<xs:documentation>Datum JJJJ-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1901-01-01"/>
			<xs:maxInclusive value="2099-12-31"/>
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Uhrzeit_Stp">
		<xs:annotation>
			<xs:documentation>Uhrzeit HH:MM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:pattern value="[0-1]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"/>
			<xs:pattern value="[2]{1}[0-3]{1}:[0-5]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rhythmus_Stp">
		<xs:annotation>
			<xs:documentation>0-7 Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-7]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
 :notation name="Namensdaten"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Anrede_Person_Stp">
		<xs:annotation>
			<xs:documentation>Herr, Frau</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Anrede_Person_unbestimmt_Stp">
		<xs:annotation>
			<xs:documentation>Keine Anrede (unbestimmtes Geschlecht), Herr, Frau</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Anrede_Stp">
		<xs:annotation>
			<xs:documentation>Herr, Frau, Institution</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Geschlecht_Stp">
		<xs:annotation>
			<xs:documentation>0 = unbestimmtes Geschlecht, 1 = männlich, 2 = weiblich, 3 = divers</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Nachname_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vorname_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vorsatzwort_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Namenszusatz_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Titel_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Sachbearbeiter_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Art_Ansprechpartner_Stp">
		<xs:annotation>
			<xs:documentation>1 = Fallsachbearbeiter, 2 = Ansprechpartner Entlassmanagement</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Art_Begleitperson_Stp">
		<xs:annotation>
			<xs:documentation>1 = Begleitperson im Rahmen einer Reha Maßnahme, 2 = zu pflegende Begleitperson</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
 :notation name="Adressdaten"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Strasse_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="46"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Hausnummer_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Postfach_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="46"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Wohnort_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PLZ_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Laenderkennzeichen_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
 :notation name="Diagnosedaten"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Diagnose_Stp">
		<xs:annotation>
			<xs:documentation>Diagnoseschlüssel 1. Zeichen ein Großbuchstabe und dann Ziffern</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:minLength value="3"/>
			<xs:pattern value="[A-Z]{1}[0-9]{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Diagnosenschluessel_Stp">
		<xs:annotation>
			<xs:documentation>1 Grossbuchstabe, danach 2, 3 oder 4 Ziffern</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[A-Z][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Seitenlokalisation_Stp">
		<xs:annotation>
			<xs:documentation>Seitenlokalisation; R = rechts, L = links, B = beidseitig</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="R"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Diagnosesicherheit_Stp">
		<xs:annotation>
			<xs:documentation>Diagnossesicherheit; A = ausgeschlossene Diagnose, V = Verdachtsdiagnose, Z = Zustand nach, G = Gesicherte Diagnose</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="A"/>
			<xs:enumeration value="V"/>
			<xs:enumeration value="Z"/>
			<xs:enumeration value="G"/>
		</xs:restriction>
	</xs:simpleType>
	<!--:notation name="KV-Daten"
 _________________________________________________________________________________________________________________ -->
	<xs:simpleType name="IK_Stp">
		<xs:annotation>
			<xs:documentation>IK-Nummern-Typ 9-stellig jeweils "0" bis "9"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Verfahrensart_KV_Stp">
		<xs:annotation>
			<xs:documentation>Anspruchgrundlage/Verfahrensart Ausprägungen in der KV</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="61"/>
			<xs:enumeration value="62"/>
			<xs:enumeration value="63"/>
			<xs:enumeration value="64"/>
			<xs:enumeration value="81"/>
			<xs:enumeration value="82"/>
			<xs:enumeration value="85"/>
			<xs:enumeration value="86"/>
			<xs:enumeration value="87"/>
			<xs:enumeration value="91"/>
			<xs:enumeration value="92"/>
			<xs:enumeration value="93"/>
			<xs:enumeration value="94"/>
			<xs:enumeration value="95"/>
			<xs:enumeration value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Vertragskennzeichen_Stp">
		<xs:annotation>
			<xs:documentation>Vertragskennzeichen zwischen 1 und 25 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Krankenversichertennummer_Stp">
		<xs:annotation>
			<xs:documentation>Krankenversichertennummer 12 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Versichertenstatus_Stp">
		<xs:annotation>
			<xs:documentation>Versichertenstatus</xs:documentation>
			<xs:appinfo>
				<Kommentar>Der zulässige Wertebereich wurde aus folgenden existierenden Schlüsselverzeichnissen ermittelt: TP5 (Sonstige Leistungserbringer), Anlage 3; Krankenhäuser, Anlage 2; KBV, S_AST_Versichertenstatus
			</Kommentar>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[135][0-8][0-9]{2}[146789ACDEFKLMNPSX]|99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Kartengueltigkeit_Stp">
		<xs:annotation>
			<xs:documentation>Gültigkeit der Krankenversichertenkarte JJMM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:pattern value="[0-9]{2}[0][1-9]"/>
			<xs:pattern value="[0-9]{2}[1][0-2]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--:notation name="RV-Daten"
  _________________________________________________________________________________________________________________ -->
	<xs:simpleType name="RV_Versicherungsnumer_Stp">
		<xs:annotation>
			<xs:documentation>Rentenversicherungsnummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}[A-Z]{1}[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Verfahrensart_RV_Stp">
		<xs:annotation>
			<xs:documentation>Anspruchgrundlage/Verfahrensart Ausprägungen in der RV</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="71"/>
			<xs:enumeration value="72"/>
			<xs:enumeration value="78"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Leistungsart_RV_Stp">
		<xs:annotation>
			<xs:documentation>bewilligte Leistungsart
010 Behandlung Alkoholabhängiger
110 Behandlung Medikamentenabhängiger
210 Behandlung Drogenabhängiger
400 Rehabilitation für psychisch Erkrankte
401 RPK-Rehabilitation für psychisch Erkrankte
410 Medizinische Rehabilitation
430 CA-Rehabilitation für Versicherte
440 Anschlussrehabilitation
800 CA-Nachsorgeleistung für Versicherte
801 CA-Nachsorgeleistung für nichtversicherte Erwachsene
810 Kinderrehabilitation
820 CA-Anschlussrehabilitation für Versicherte
821 CA-Anschlussrehabilitation für nichtversicherte Erwachsene
840 Leistung zur Sicherung der Erwerbsfähigkeit
850 Leistung zur Eingliederung in das Erwerbsleben
990 Auftragsheilbehandlung
000 Sonstige
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Token_intern_Stp">
			<xs:enumeration value="010"/>
			<xs:enumeration value="110"/>
			<xs:enumeration value="210"/>
			<xs:enumeration value="400"/>
			<xs:enumeration value="401"/>
			<xs:enumeration value="410"/>
			<xs:enumeration value="430"/>
			<xs:enumeration value="440"/>
			<xs:enumeration value="800"/>
			<xs:enumeration value="801"/>
			<xs:enumeration value="810"/>
			<xs:enumeration value="820"/>
			<xs:enumeration value="821"/>
			<xs:enumeration value="840"/>
			<xs:enumeration value="850"/>
			<xs:enumeration value="990"/>
			<xs:enumeration value="000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--notation name="Kommunikationsblock"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Telefon_Fax_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email_Stp">
		<xs:restriction base="Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
 complexType  :notation name="Kommunikationsblock"
_________________________________________________________________________________________________________________-->
	<xs:complexType name="Kommunikation_Ctp">
		<xs:annotation>
			<xs:documentation>Kommunikationsblock bestehend aus Telefon(K), Fax(K) und Email(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Telefon" type="Telefon_Fax_Stp" minOccurs="0"/>
			<xs:element name="Faxnummer" type="Telefon_Fax_Stp" minOccurs="0"/>
			<xs:element name="Email" type="Email_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kommunikation_mit_SB_Ctp">
		<xs:annotation>
			<xs:documentation>Kommunikationsblock bestehend aus Sachbearbeiter(K), Telefon(K), Fax(K) und Email(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sachbearbeiter" type="Sachbearbeiter_Stp" minOccurs="0"/>
			<xs:element name="Telefon" type="Telefon_Fax_Stp" minOccurs="0"/>
			<xs:element name="Faxnummer" type="Telefon_Fax_Stp" minOccurs="0"/>
			<xs:element name="Email" type="Email_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kommunikation_mit_SB_T_Ctp">
		<xs:annotation>
			<xs:documentation>Kommunikationsblock bestehend aus Sachbearbeiter(K), Telefon(M), Fax(K) und Email(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sachbearbeiter" type="Sachbearbeiter_Stp" minOccurs="0"/>
			<xs:element name="Telefon" type="Telefon_Fax_Stp"/>
			<xs:element name="Faxnummer" type="Telefon_Fax_Stp" minOccurs="0"/>
			<xs:element name="Email" type="Email_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kommunikation_mit_AA_SB_T_Ctp">
		<xs:annotation>
			<xs:documentation>Kommunikationsblock bestehend aus Art des Ansprechpartners(K), Sachbearbeiter(K), Telefon(M), Fax(K) und Email(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Art_Ansprechpartner" type="Art_Ansprechpartner_Stp" minOccurs="0"/>
			<xs:element name="Sachbearbeiter" type="Sachbearbeiter_Stp" minOccurs="0"/>
			<xs:element name="Telefon" type="Telefon_Fax_Stp"/>
			<xs:element name="Faxnummer" type="Telefon_Fax_Stp" minOccurs="0"/>
			<xs:element name="Email" type="Email_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--
 complexType  :notation name="Namensblöcke"
_________________________________________________________________________________________________________________-->
	<xs:complexType name="Name_MMKK_Ctp">
		<xs:annotation>
			<xs:documentation>Namensblock:Nachname(M), Vorname (M), Vorsatzwort und Namenszusatz(K), Titel(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nachname" type="Nachname_Stp"/>
			<xs:element name="Vorname" type="Vorname_Stp"/>
			<xs:element name="Vorsatzwort" type="Vorsatzwort_Stp" minOccurs="0"/>
			<xs:element name="Namenszusatz" type="Namenszusatz_Stp" minOccurs="0"/>
			<xs:element name="Titel" type="Titel_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name_Institution_MKKK_Ctp">
		<xs:annotation>
			<xs:documentation>Namensblock:Nachname/Name Institution(M), Vorname (K), Vorsatzwort und Namenszusatz(K), Titel(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nachname_Institution" type="Nachname_Stp"/>
			<xs:element name="Vorname" type="Vorname_Stp" minOccurs="0"/>
			<xs:element name="Vorsatzwort" type="Vorsatzwort_Stp" minOccurs="0"/>
			<xs:element name="Namenszusatz" type="Namenszusatz_Stp" minOccurs="0"/>
			<xs:element name="Titel" type="Titel_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name_MKKK_Ctp">
		<xs:annotation>
			<xs:documentation>Namensblock:Nachname(M), Vorname (K), Vorsatzwort und Namenszusatz(K), Titel(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nachname" type="Nachname_Stp"/>
			<xs:element name="Vorname" type="Vorname_Stp" minOccurs="0"/>
			<xs:element name="Vorsatzwort" type="Vorsatzwort_Stp" minOccurs="0"/>
			<xs:element name="Namenszusatz" type="Namenszusatz_Stp" minOccurs="0"/>
			<xs:element name="Titel" type="Titel_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rehabilitand_alle_DS_Ctp">
		<xs:annotation>
			<xs:documentation>Versicherter/Berechtigter für alle Geschäftsvorfälle außerhalb der Bewilligung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Lebendspender_Ctp">
		<xs:annotation>
			<xs:documentation>Lebendspender</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Begleitperson_Art_Ctp">
		<xs:annotation>
			<xs:documentation>Begleitperson mit Art der Begleitperson</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Art_Begleitperson" type="Art_Begleitperson_Stp"/>
			<xs:element name="Name" type="Name_MMKK_Ctp" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Begleitperson_Datum_Ctp">
		<xs:annotation>
			<xs:documentation>Begleitperson mit Aufnahme- und Entlassungsdatum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp" minOccurs="0"/>
			<xs:element name="Aufnahmedatum" type="Datum_Stp" minOccurs="0"/>
			<xs:element name="Entlassungsdatum" type="Datum_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Begleitperson_Ctp">
		<xs:annotation>
			<xs:documentation>Begleitperson</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Begleitperson_RV_Ctp">
		<xs:annotation>
			<xs:documentation>nur Begleitpersonen, die den Aufenthalt wahrnehmen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Begleitperson_KUe_Ctp">
		<xs:annotation>
			<xs:documentation>Begleitperson</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Art_Begleitperson" type="Art_Begleitperson_Stp"/>
			<xs:element name="Hinweis_zur_Kostenuebernahme" type="Hinweis_Kostenuebernahme_Stp"/>
			<xs:element name="Name" type="Name_MMKK_Ctp" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Begleitperson_KUe_RV_Ctp">
		<xs:annotation>
			<xs:documentation>nur Begleitpersonen, die den Aufenthalt wahrnehmen</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hinweis_zur_Kostenuebernahme" type="Hinweis_Kostenuebernahme_RV_Stp"/>
			<xs:element name="Name" type="Name_MMKK_Ctp" minOccurs="0"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--
 complexType  :notation name="Adressblöcke"
_________________________________________________________________________________________________________________-->
	<xs:complexType name="Adresse_MMMM_Ctp">
		<xs:annotation>
			<xs:documentation>Strasse(M), Haunummer(M), Postfach(M), Wohnort(M), PLZ(M), Land(M)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="Strasse_Stp"/>
			<xs:element name="Hausnummer" type="Hausnummer_Stp"/>
			<xs:element name="Postfach" type="Postfach_Stp"/>
			<xs:element name="Wohnort" type="Wohnort_Stp"/>
			<xs:element name="PLZ" type="PLZ_Stp"/>
			<xs:element name="Laenderkennzeichen" type="Laenderkennzeichen_Stp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adresse_KMMM_Ctp">
		<xs:annotation>
			<xs:documentation>Strasse(K), Haunummer(K), Postfach(K), Wohnort(M), PLZ(M), Land(M)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="Strasse_Stp" minOccurs="0"/>
			<xs:element name="Hausnummer" type="Hausnummer_Stp" minOccurs="0"/>
			<xs:element name="Postfach" type="Postfach_Stp" minOccurs="0"/>
			<xs:element name="Wohnort" type="Wohnort_Stp"/>
			<xs:element name="PLZ" type="PLZ_Stp"/>
			<xs:element name="Laenderkennzeichen" type="Laenderkennzeichen_Stp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adresse_KKKK_Ctp">
		<xs:annotation>
			<xs:documentation>Strasse(K), Haunummer(K), Postfach(K), Wohnort(K), PLZ(K), Land(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="Strasse_Stp" minOccurs="0"/>
			<xs:element name="Hausnummer" type="Hausnummer_Stp" minOccurs="0"/>
			<xs:element name="Postfach" type="Postfach_Stp" minOccurs="0"/>
			<xs:element name="Wohnort" type="Wohnort_Stp" minOccurs="0"/>
			<xs:element name="PLZ" type="PLZ_Stp" minOccurs="0"/>
			<xs:element name="Laenderkennzeichen" type="Laenderkennzeichen_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adresse_MMMK_Ctp">
		<xs:annotation>
			<xs:documentation>Strasse(M), Haunummer(M), Postfach(M), Wohnort(M), PLZ(M), Land(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="Strasse_Stp"/>
			<xs:element name="Hausnummer" type="Hausnummer_Stp"/>
			<xs:element name="Postfach" type="Postfach_Stp"/>
			<xs:element name="Wohnort" type="Wohnort_Stp"/>
			<xs:element name="PLZ" type="PLZ_Stp"/>
			<xs:element name="Laenderkennzeichen" type="Laenderkennzeichen_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adresse_MMKK_Ctp">
		<xs:annotation>
			<xs:documentation>Strasse(M), Haunummer(M), Postfach(M), Wohnort(M), PLZ(K), Land(K)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Strasse" type="Strasse_Stp"/>
			<xs:element name="Hausnummer" type="Hausnummer_Stp"/>
			<xs:element name="Postfach" type="Postfach_Stp"/>
			<xs:element name="Wohnort" type="Wohnort_Stp"/>
			<xs:element name="PLZ" type="PLZ_Stp" minOccurs="0"/>
			<xs:element name="Laenderkennzeichen" type="Laenderkennzeichen_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--
:notation name="Diagnosen"
_________________________________________________________________________________________________________________ -->
	<xs:complexType name="Diagnose_Ctp">
		<xs:annotation>
			<xs:documentation>Diagnosen inkl. der Seitenlokalisation und der Diagnosensicherheit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diagnosenschluessel" type="Diagnosenschluessel_Stp"/>
			<xs:element name="Seitenlokalisation" type="Seitenlokalisation_Stp" minOccurs="0"/>
			<xs:element name="Diagnosensicherheit" type="Diagnosesicherheit_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Diagnose_mit_Behandlungsergebnis_Ctp">
		<xs:annotation>
			<xs:documentation>Diagnosen inkl. der Seitenlokalisation ,der Diagnosensicherheit und dem Behandlungsergebnis</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diagnosenschluessel" type="Diagnosenschluessel_Stp"/>
			<xs:element name="Seitenlokalisation" type="Seitenlokalisation_Stp" minOccurs="0"/>
			<xs:element name="Diagnosensicherheit" type="Diagnosesicherheit_Stp" minOccurs="0"/>
			<xs:element name="Behandlungsergebnis" type="Behandlungsergebnis_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kreuz-Stern_Diagnose_Ctp">
		<xs:annotation>
			<xs:documentation>Diagnosen + Kreuz-Stern Diagnosen inkl. der Seitenlokalisation und der Diagnosensicherheit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Diagnosenschluessel" type="Diagnosenschluessel_Stp"/>
			<xs:element name="Seitenlokalisation" type="Seitenlokalisation_Stp" minOccurs="0"/>
			<xs:element name="Diagnosensicherheit" type="Diagnosesicherheit_Stp" minOccurs="0"/>
			<xs:element name="Sekundaerdiagnose_Kreuz-Stern" type="Diagnosenschluessel_Stp" minOccurs="0"/>
			<xs:element name="Seitenlokalisation_Kreuz-Stern" type="Seitenlokalisation_Stp" minOccurs="0"/>
			<xs:element name="Diagnosensicherheit_Kreuz-Stern" type="Diagnosesicherheit_Stp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--
:notation name="Kinder_in_Mutter_Kind_Massnahme"
_________________________________________________________________________________________________________________ -->
	<xs:complexType name="Kinder_in_Mutter_Kind_Massnahme_Ctp">
		<xs:annotation>
			<xs:documentation>Kinder in Mutter/Kind Massnahme</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp"/>
			<xs:element name="Behandlungsbeduerftiges_Kind" type="J_oder_N_Stp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kinder_in_Mutter_Kind_Massnahme_mit_Datum_Ctp">
		<xs:annotation>
			<xs:documentation>Kinder in Mutter/Kind Massnahme mit Datum</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp"/>
			<xs:element name="Aufnahmedatum" type="Datum_Stp" minOccurs="0"/>
			<xs:element name="Entlassungsdatum" type="Datum_Stp" minOccurs="0"/>
			<xs:element name="Behandlungsbeduerftiges_Kind" type="J_oder_N_Stp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Kinder_in_Mutter_Kind_Massnahme_mit_Diagnose_Ctp">
		<xs:annotation>
			<xs:documentation>Kinder in Mutter/Kind Massnahme mit Diagnose</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="Name_MMKK_Ctp"/>
			<xs:element name="Geburtsdatum" type="Datum_Stp"/>
			<xs:element name="Behandlungsbeduerftiges_Kind" type="J_oder_N_Stp"/>
			<xs:element name="Diagnose_beh_bed_Kind" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Version_ICD" type="Version_ICD10_Stp"/>
						<xs:element name="Diagnose_Kind" type="Kreuz-Stern_Diagnose_Ctp" maxOccurs="10"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
:notation name="Dokumentblock"
_________________________________________________________________________________________________________________ -->
	<xs:complexType name="Dokumente_Ctp">
		<xs:annotation>
			<xs:documentation>Dokumentenblock</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dokument" maxOccurs="99">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dateiart" type="Dateiart_Stp"/>
						<xs:element name="Dateigroesse" type="Dateigroesse_Stp"/>
						<xs:element name="medizinischesDokument" type="J_oder_N_Stp" minOccurs="0"/>
						<xs:element name="Datei" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--   _________________________________________________________________________________________________________________ -->
</xs:schema>
