docs/Reha301/schema/EREH0-BEW-3.4.0.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns="http://www.vdek.com/xml-schema/BEW/3.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bty="http://www.vdek.com/xml-schema/BTY/3.4" targetNamespace="http://www.vdek.com/xml-schema/BEW/3.4" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.vdek.com/xml-schema/BTY/3.4" schemaLocation="EREH0-BTY-3.4.0.xsd"/>
	<!--
 :notation name="allgemein"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Behandlungsabschnitte_Stp">
		<xs:annotation>
			<xs:documentation>1-99 Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="([0-9]*)([1-9])([0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
 :notation name="KV"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Kostenuebernahme_KV_Stp">
		<xs:annotation>
			<xs:documentation>Kennzeichen für Kostenübernahme der Begleitperson 0= keine Kostenübernahme, 4= für Aufenthalt inkl. Hin- und Rückreise</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
 :notation name="RV"
_________________________________________________________________________________________________________________-->
	<xs:simpleType name="Kostenuebernahme_RV_Stp">
		<xs:annotation>
			<xs:documentation>Kennzeichen für Kostenübernahme der Begleitperson 0 = keine Begleitperson, 1 = für Hinreise, 2 = für Rückreise, 3 = für Hin- und Rückreise, 4= für Aufenthalt inkl. Hin und Rückreise</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Staatsangehoerigkeit_Stp">
		<xs:annotation>
			<xs:documentation>3-stellige char-Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bty:Token_intern_Stp">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Krankenkassennamen_Stp">
		<xs:annotation>
			<xs:documentation>1 bis 70-stellige char-Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bty:Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Bezugsberuf_Stp">
		<xs:annotation>
			<xs:documentation>1 bis 75-stellige char-Feld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="bty:Token_intern_Stp">
			<xs:minLength value="1"/>
			<xs:maxLength value="75"/>
		</xs:restriction>
	</xs:simpleType>
	<!--
:notation name="Admin-Datenblock"
_________________________________________________________________________________________________________________ -->
	<xs:complexType name="Admindaten_Ctp">
		<xs:sequence>
			<xs:element name="Verarbeitungskennzeichen" type="bty:Verarbeitungskennzeichen_Stp">
				<xs:annotation>
					<xs:documentation>10 = Normalfall
20 = Änderung
30 = Fallstorno / Löschung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version">
				<xs:annotation>
					<xs:documentation>Version des Geschäftsvorfalls</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="bty:Version_Stp">
						<xs:enumeration value="3.4.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LfdNr" type="bty:laufende_Nummer_GVF_Stp">
				<xs:annotation>
					<xs:documentation>Laufende Nummer des Geschäftsvorfalls - Wertebereich von Lfd. Nr. ist abhängig vom jeweiligen Geschäftsvorfall, siehe SV</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--
:notation name="Geschäftsvorfall"
_________________________________________________________________________________________________________________ -->
	<xs:complexType name="Bewilligung_KV_Ctp">
		<xs:annotation>
			<xs:documentation>Bewilligung der KV</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Admindaten" type="Admindaten_Ctp"/>
			<xs:element name="Fachliche_Daten">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rehabilitand">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="bty:Name_MMKK_Ctp"/>
									<xs:element name="Geschlecht" type="bty:Geschlecht_Stp">
										<xs:annotation>
											<xs:documentation>0 = Unbestimmtes Geschlecht, 1 = Männlich, 
2 = Weiblich, 3 = divers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Geburtsdatum" type="bty:Datum_Stp"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0">
										<xs:annotation>
											<xs:documentation/>
										</xs:annotation>
									</xs:element>
									<xs:element name="Kommunikation" type="bty:Kommunikation_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Lebendspender" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="bty:Name_MMKK_Ctp"/>
									<xs:element name="Geschlecht" type="bty:Geschlecht_Stp">
										<xs:annotation>
											<xs:documentation>0 = Unbestimmtes Geschlecht, 1 = Männlich, 
2 = Weiblich</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Geburtsdatum" type="bty:Datum_Stp"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0">
										<xs:annotation>
											<xs:documentation/>
										</xs:annotation>
									</xs:element>
									<xs:element name="Kommunikation" type="bty:Kommunikation_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Mitteilungsempfaenger" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Anrede" type="bty:Anrede_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1 = Herr, 2 = Frau, 
3 = Institution</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Name" type="bty:Name_Institution_MKKK_Ctp"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0"/>
									<xs:element name="Kommunikation" type="bty:Kommunikation_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Krankenkasse" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Kommunikation" type="bty:Kommunikation_mit_SB_T_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Kosteninformationen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Zuzahlung">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Zuzahlungseinzug" type="bty:Zuzahlungseinzug_Stp"/>
												<xs:element name="AnzahlTage" type="bty:Anzahl_Tage_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Anzahl maximaler Zuzahlungstage</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Zuzahlungsbetrag" type="bty:Betrag_3_2_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Zuzahlungsbetrag pro Tag</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Rehainformationen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Rehaart" type="bty:Verfahrensart_KV_Stp">
										<xs:annotation>
											<xs:documentation>Verfahrensart / Anspruchsgrundlage</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Begleitperson" minOccurs="0" maxOccurs="15">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Kostenuebernahme" type="Kostenuebernahme_KV_Stp">
													<xs:annotation>
														<xs:documentation>Hinweis zur Kostenübernahme </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Name" type="bty:Name_MMKK_Ctp" minOccurs="0"/>
												<xs:element name="Geburtsdatum" type="bty:Datum_Stp" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Kinder_in_Mutter_Kind_Massnahme" type="bty:Kinder_in_Mutter_Kind_Massnahme_mit_Diagnose_Ctp" minOccurs="0" maxOccurs="15"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Aufnahmedaten">
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:annotation>
											<xs:documentation>Es ist immer entweder das IK des veranlassenden Krankenhauses oder die Felder zum verordnenden Arzt oder die sonstige Rehaempfehlung zu füllen.</xs:documentation>
										</xs:annotation>
										<xs:element name="IK_Krankenhaus" type="bty:IK_Stp">
											<xs:annotation>
												<xs:documentation>Wird die Rehamaßnahme durch ein Krankenhaus veranlasst, ist hier das IK des Krankenhauses anzugeben.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Verordnender_Arzt">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Arztnummer" type="bty:IK_Stp" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Wird die Rehamaßnahme durch einen Arzt veranlasst, ist hier die LANR der Arztes anzugeben.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Betriebsstaettennummer" type="bty:IK_Stp" minOccurs="0">
														<xs:annotation>
															<xs:documentation>BSNR</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Sonstige_Rehaempfehlung" type="bty:J_Stp">
											<xs:annotation>
												<xs:documentation>Empfehlung/der Antrag zur Rehabilitationsmaßnahme aus einem anderen Zusammenhang (z. B. Pflegebegutachtung, Teilhabeplan oder von anderem Träger).</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element name="Behandlungsart" type="bty:Art_der_Behandlung_KV_Stp">
										<xs:annotation>
											<xs:documentation>Art der Versorgung/ Art der Behandlung</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Bewilligungsdiagnosen">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Version_ICD" type="bty:Version_ICD10_Stp"/>
												<xs:element name="Diagnose" type="bty:Kreuz-Stern_Diagnose_Ctp" maxOccurs="10"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Aufnahmedaten">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Erfolgt" type="bty:J_oder_N_Stp">
													<xs:annotation>
														<xs:documentation>Aufnahme bereits erfolgt J/N</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Geplant" type="bty:Datum_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Aufnahmedatum geplant</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Fruehestes" type="bty:Datum_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>frühestes Aufnahmedatum</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Indikationsgruppe" type="bty:Indikationsgruppenzuordnung_Stp">
										<xs:annotation>
											<xs:documentation>Indikationsgruppenzuordnung</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Entlassungsdatum_AHB" type="bty:Datum_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Entlassung aus dem Krankenhaus vor AHB</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Bewilligungsinformationen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Bewilligungsdatum" type="bty:Datum_Stp"/>
									<xs:element name="Kostenzusage_gueltig_bis" type="bty:Datum_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Gültigkeit der Kostenzusage bis</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:choice>
							<xs:element name="Stationaerdaten">
								<xs:annotation>
									<xs:documentation>Daten zur stationären Reha</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Anzahl_Tage" type="bty:Anzahl_Tage_Stp">
											<xs:annotation>
												<xs:documentation>Anzahl der bewilligten Tage</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Fallpauschale" type="bty:Eins_Stp"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Ganztaegigambulantdaten">
								<xs:annotation>
									<xs:documentation>Daten zur ganztägig ambulanten Reha</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Behandlungszeitraum">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Behandlungszeitraum_Tage" type="bty:Anzahl_Tage_Stp" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Behandlunsgszeitraum in Tagen</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Anzahl_Tage_Behandlungszeitraum" type="bty:Anzahl_Tage_Stp">
														<xs:annotation>
															<xs:documentation>Anzahl Tage Behandlungszeitraum</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Therapieeinheiten" type="bty:Therapieeinheiten_99_Stp" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Anzahl bewilligter Therapieeinheiten bei einer mobilen / ganztägigen ambulanten Reha</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Fallpauschale" type="bty:Eins_Stp"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Bewilligung_RV_Ctp">
		<xs:annotation>
			<xs:documentation>Bewilligung der RV</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Admindaten" type="Admindaten_Ctp"/>
			<xs:element name="Fachliche_Daten">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rehabilitand">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="bty:Name_MKKK_Ctp"/>
									<xs:element name="Geschlecht" type="bty:Geschlecht_Stp">
										<xs:annotation>
											<xs:documentation>0 = Unbestimmtes Geschlecht, 1 = Männlich, 
2 = Weiblich, 3 = divers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Geburtsdatum" type="bty:Datum_Stp"/>
									<xs:element name="Staatsangehoerigkeit" type="Staatsangehoerigkeit_Stp" minOccurs="0"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0">
										<xs:annotation>
											<xs:documentation/>
										</xs:annotation>
									</xs:element>
									<xs:element name="Kommunikation" type="bty:Kommunikation_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Mitteilungsempfaenger" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Anrede" type="bty:Anrede_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1 = Herr, 2 = Frau, 	3 = Institution</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Name" type="bty:Name_Institution_MKKK_Ctp"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0"/>
									<xs:element name="Kommunikation" type="bty:Kommunikation_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Krankenkasse" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="Krankenkassennamen_Stp" minOccurs="0"/>
									<xs:element name="IK_Nummer" type="bty:IK_Stp" minOccurs="0"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0"/>
									<xs:element name="Kommunikation" type="bty:Kommunikation_mit_SB_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Truppenarzt" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Anrede" type="bty:Anrede_Person_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>1 = Herr, 2 = Frau</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Name" type="bty:Name_MKKK_Ctp"/>
									<xs:element name="Adresse" type="bty:Adresse_KKKK_Ctp" minOccurs="0"/>
									<xs:element name="Kommunikation" type="bty:Kommunikation_Ctp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Kosteninformationen" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Zuzahlung">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Zuzahlungseinzug" type="bty:Zuzahlungseinzug_Stp"/>
												<xs:element name="Anzahl_Tage" type="bty:Anzahl_Tage_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Anzahl maximaler Zuzahlungstage</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Zuzahlungsbetrag" type="bty:Betrag_3_2_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Zuzahlungsbetrag pro Tag</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Rehainformationen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Datenweitergabe" type="bty:J_oder_N_Stp">
										<xs:annotation>
											<xs:documentation>Datenweitergabe erlaubt</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Rehaart" type="bty:Verfahrensart_RV_Stp">
										<xs:annotation>
											<xs:documentation>Verfahrensart / Anspruchsgrundlage</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Eilfall" type="bty:J_oder_N_Stp"/>
									<xs:element name="Leistungsart" type="bty:Leistungsart_RV_Stp"/>
									<xs:element name="Zusatzinformation" type="bty:Zusatzinformation_Stp" minOccurs="0"/>
									<xs:element name="Begleitperson" minOccurs="0" maxOccurs="15">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Kostenuebernahme" type="Kostenuebernahme_RV_Stp">
													<xs:annotation>
														<xs:documentation>Hinweis zur Kostenübernahme </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Name" type="bty:Name_MMKK_Ctp" minOccurs="0"/>
												<xs:element name="Geburtsdatum" type="bty:Datum_Stp" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Partnerleistung" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Informationen zu Partnerleistung</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Versicherungsnummer" type="bty:RV_Versicherungsnumer_Stp" minOccurs="0"/>
												<xs:element name="Name" type="bty:Name_MMKK_Ctp"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Leistungsvermoegen" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Ausführliche Stellungnahme zum Leistungsvermögen</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Stellungnahme" type="bty:J_oder_N_Stp">
													<xs:annotation>
														<xs:documentation>Stellungnahme erforderlich</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Bezugsberuf" type="Bezugsberuf_Stp" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Aufnahmedaten">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Behandlungsart" type="bty:Art_der_Behandlung_RV_Stp">
										<xs:annotation>
											<xs:documentation>Art der Versorgung / Art der Behandlung</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Bewilligungsdiagnosen" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Version_ICD" type="bty:Version_ICD10_Stp"/>
												<xs:element name="Diagnose" type="bty:Diagnose_Ctp" maxOccurs="10"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Aufnahmedaten">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Erfolgt" type="bty:J_oder_N_Stp">
													<xs:annotation>
														<xs:documentation>Aufnahme bereits erfolgt J/N</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Geplant" type="bty:Datum_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Aufnahmedatum geplant</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Fruehestes" type="bty:Datum_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>frühestes Aufnahmedatum</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Spaetestes" type="bty:Datum_Stp" minOccurs="0">
													<xs:annotation>
														<xs:documentation>spätestes Aufnahmedatum</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Kostuebernahme_Phase_C" type="bty:Datum_Stp" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Bewilligungsinformationen">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Bewilligungsdatum" type="bty:Datum_Stp"/>
									<xs:element name="Kostenzusage_gueltig_bis" type="bty:Datum_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Gültigkeit der Kostenzusage bis</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:choice>
							<xs:element name="Stationaerdaten">
								<xs:annotation>
									<xs:documentation>Daten zur stationären Reha</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Behandlungsabschnitte" type="Behandlungsabschnitte_Stp">
											<xs:annotation>
												<xs:documentation>Anzahl Behandlungsabschnitte - bei Regelmaßnamen 1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Anzahl_Tage" type="bty:Anzahl_Tage_mit_0_Stp">
											<xs:annotation>
												<xs:documentation>Anzahl der bewilligten Tage</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Ganztaegigambulantdaten">
								<xs:annotation>
									<xs:documentation>Daten zur ganztägig ambulanten Reha</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Behandlungszeitraum">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Anzahl_Tage_Behandlungszeitraum" type="bty:Anzahl_Tage_Stp">
														<xs:annotation>
															<xs:documentation>Behandlungszeitraum in Tagen</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Behandlungsrhythmus" type="bty:Rhythmus_Stp">
														<xs:annotation>
															<xs:documentation>Wöchentlicher Behandlungsrhythmus</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Ambulantdaten">
								<xs:annotation>
									<xs:documentation>Daten zur ambulanten Reha ("Sucht")</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Behandlungszeitraum" minOccurs="0" maxOccurs="10">
											<xs:annotation>
												<xs:documentation>Bewilligter Leistungszeitraum (Behandlungszeitraum)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Von_Datum_Bewilligung" type="bty:Datum_Stp" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Bewilligt-von-Datum (Beginn frühestens)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Bis_Datum_Bewilligung" type="bty:Datum_Stp" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Bewilligt-bis-Datum </xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Anzahl_Tage_Behandlungszeitraum" type="bty:Anzahl_Tage_Stp">
											<xs:annotation>
												<xs:documentation>Anzahl Tage Behandlungszeitraum</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Therapie" maxOccurs="2">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Art" type="bty:Therapieart_Stp">
														<xs:annotation>
															<xs:documentation>Therapieart : therapeutische Einzel-/Gruppengespräche und the-rapeutische Einzel-/ Grup-pengespräche für Bezugsper-sonen, Mehrfachnennung muss möglich sein</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Einheiten" type="bty:Therapieeinheiten_999_Stp">
														<xs:annotation>
															<xs:documentation>Anzahl bewilligte Therapieeinheiten</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
